#app {
    margin: 0 4.5rem;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 9.3rem;
    font-size: 3rem;
    font-weight: 600;
}

header .tab {
    font-size: 1rem;
    color: #acacac;
}

.dashboard header {
    margin-top: 2.25rem;
}

.logout {
    margin-top: 6rem;
    align-self: flex-end;
}

.dashboard form {
    margin-top: 5.8125rem;
}

.delete {
    margin-top: 15rem;
    width: 100%;
}

.delete button {
    margin: auto;
    font-size: 1.125rem;
    font-weight: 600;
    color: #E6A5A5;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.error, .success {
    font-size: 18px;
    font-size: max(18px, 1.125rem);
}

.error { color: #E6A5A5; }

.success { color: #A5E5A5 }

.dashboard p {
    font-size: 1.5rem;
}

.dashboard .email {
    font-size: 0.875rem;
    font-weight: 600;
    color: #acacac;
}

form {
    margin-top: 4.5625rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    font-size: 24px;
    font-size: max(24px, 1.5rem);
    font-family: inherit;
    border: unset;
}

input::placeholder {
    opacity: 1;
    color: #acacac;
}

input[type='email'], input[type='password'] {
    width: 100%;
    display: block;
}

input:focus {
    outline: unset;
}

.checkbox {
    color: #acacac;
    font-size: 24px;
    font-size: max(24px, 1.5rem);
}

.checkbox-label {
    margin-left: 0.5rem;
}

button {
    width: max-content;
    font-size: 0.875rem;
    color: #acacac;
    cursor: pointer;
    display: block;
    border: unset;
    background-color: unset;
}

.current-page {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    color: #acacac;
    font-size: 18px;
    font-size: max(18px, 1.125rem);
}

.current-page > * {
    cursor: pointer;
    padding: 0 0.625rem;
}

.highlight {
    color: #000;
    font-weight: 600;
}